<% @body_class = "index" %>

<div class="row">
  <% @movies.each do |movie| %>
  <div class= "col-sm-4">
    <%= image_tag movie.image, class: "movie-img img-responsive" %>
    <%#= link_to image_tag(movie.poster_image_url, :class => "movie-img img-responsive"), movie_path(movie) %>
  </div>
  <div class= "col-sm-8 desc-movie">
    <h2 class="movie-title"><%= link_to movie.title, movie_path(movie) %></h2>
    <h3 class="release-date">Release Date: <%= formatted_date(movie.release_date) %></h3>
    <h4 class="director">Director: <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
    <p class="description"><%= movie.description %></p>
  </div>
  <% end %>
</div>
